<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Mongo"/>
	</extensions>

	<targets>
		<target name="jsonfile" xsi:type="File" fileName="${basedir}/logs/AppLog-${level}-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=O}" />
				<attribute name="message" layout="${message}" />
				<attribute name="logger" layout="${logger}"/>
				<attribute name="level" layout="${level}"/>
			</layout>
		</target>
		<target xsi:type="Mongo"
		        name="MainMongo"
		        includeDefaults="false"
		        connectionString="mongodb://egatewayprotium:ULs1su88SnNtNzinMfccEXJ0DsUN7PoaI1LubYadZBBHpCcT9IrDRIunFD1OksNNSCRK6sVRbaCNANGtzZegCQ==@egatewayprotium.mongo.cosmos.azure.com:10255/?ssl=true&amp;retrywrites=false&amp;replicaSet=globaldb&amp;maxIdleTimeMS=120000&amp;appName=@egatewayprotium@"
		        collectionName="AppLog"
		        databaseName="EGateway"
		        cappedCollectionSize="26214400">
			<field name="Date" layout="${date}" bsonType="DateTime" />
			<field name="Level" layout="${level}"/>
			<field name="Message" layout="${message}" />
			<field name="Logger" layout="${logger}"/>
			<field name="Exception" layout="${exception:format=tostring}" />
			<field name="CustomData" bsonType="Object">
				<layout type="JsonLayout" includeAllProperties="true" includeMdlc="true" maxRecursionLimit="10">
				</layout>
			</field>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="jsonfile" />
		<logger name="Info" minlevel="Info" writeTo="MainMongo" />
	</rules>
</nlog>